.section {
  background-color: hsl(36, 17%, 89%);
  text-align: center;
  margin: 15px 5px;
  border-radius: 20px;
  box-shadow: #77744d 0px 0px 10px;
  padding: 8px;
  overflow: auto;
  width: auto;
}

.section__header {
  padding: 5px 10px;
  background-color: hsl(36, 17%, 89%);
  color: rgb(31, 43, 99);
  border-radius: 20px;
  box-shadow: #d4d2c6 5px 5px 5px;
  text-decoration: none;
  margin: 5px;
}

.section__header--colored {
  color: rgb(14, 39, 151);
  background-color: rgba(204, 202, 202, 0.356);
}

.section__header--colored {
  color: rgb(14, 39, 151);
  background-color: rgba(204, 202, 202, 0.356);
}

.section__header--element {
  line-height: 20px;
}
